<div class="jumbotron">
    <h1>YMCA Membership API</h1>
    <p class="lead">The YMCA Membership API creates a functional business product for tracking and updates members, invoices, courses, locations, and insutructors at fitness facilities.</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The Mission</h2>
        <p>Our team will develop a membership database for a local YMCA to include their current members, billing information, and class details. We chose this project due to the future 
           practical implications of building business solutions and the scalability of learning opportunities as the API develops.</p>
    </div>
    <div class="col-md-4">
        <h2>Major Functions</h2>
        <p>Adding members and associating them with relevant invoices, courses, and member locations.</p>
    </div>
    <div class="col-md-4">
        <h2>Team Members</h2>
        <p>Casey, Steve, and Andrew.</p>
    </div>
</div>
